@import "tailwindcss";

html {
  background-color: white;
  font-family: 'Asap', sans-serif;
}

/* Hero background - solo su desktop */
@media (min-width: 1024px) {
  .hero-bg {
    background-image: url(/img/home/ciao.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
